@use "../abstracts/breakpoints" as bp;

.app {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;

  @include bp.up(sm) {
    padding: 0.5rem;
  }

  @include bp.up(md) {
    gap: 1rem;
    padding: 1rem;
  }

  @include bp.up(lg) {
    padding: 1.5rem;
  }

  @include bp.up(xl) {
    padding: 2rem;
  }

}
